<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!--<property name="CONSOLE_LOG_PATTERN"-->
              <!--value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSSZ}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%t]){faint} %clr(%logger{39}.%M:%L){cyan} %m%n"/>-->
    <property name="CONSOLE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS}][${APP_NAME}]%highlight([%level])[%logger{39}.%M:%L]%cyan([%X{logId:-}])[%X{token:-}] - %msg%n"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <jmxConfigurator/>

    <!--<contextName>@app.name@</contextName>-->
    <!--<property name="APP_NAME" value="@app.name@"/>-->
    <contextName>pin</contextName>
    <property name="APP_NAME" value="pin"/>
    <property name="LOG_PATH" value="/data/logs/pin"/>

    <property name="FILE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS}][${APP_NAME}]%highlight([%level])[%logger{39}.%M:%L]%cyan([%X{logId:-}])[%X{token:-}] - %msg%n"/>

    <springProfile name="product-not-use">
        <appender name="biz-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${LOG_PATH}/${APP_NAME}-biz.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${LOG_PATH}/${APP_NAME}-biz.log.%d{yyyy.MM.dd.HH}</FileNamePattern>
                <maxHistory>48</maxHistory>
            </rollingPolicy>
            <encoder>
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
                <ImmediateFlush>false</ImmediateFlush>
            </encoder>
        </appender>
        <appender name="biz" class="ch.qos.logback.classic.AsyncAppender">
            <discardingThreshold>0</discardingThreshold>
            <queueSize>2048</queueSize>
            <includeCallerData>true</includeCallerData>
            <appender-ref ref="biz-file"/>
        </appender>

        <appender name="invoke-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${LOG_PATH}/${APP_NAME}-invoke.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${LOG_PATH}/${APP_NAME}-invoke.log.%d{yyyy.MM.dd.HH}</FileNamePattern>
                <maxHistory>48</maxHistory>
            </rollingPolicy>
            <encoder>
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
                <ImmediateFlush>false</ImmediateFlush>
            </encoder>
        </appender>
        <appender name="invoke" class="ch.qos.logback.classic.AsyncAppender">
            <discardingThreshold>0</discardingThreshold>
            <queueSize>2048</queueSize>
            <includeCallerData>true</includeCallerData>
            <appender-ref ref="invoke-file"/>
        </appender>
    </springProfile>

    <springProfile name="!product-not-use">
        <appender name="biz" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
                <!--<level>ERROR</level>-->
                <!--<onMatch>DENY</onMatch>-->
                <!--<onMismatch>ACCEPT</onMismatch>-->
            <!--</filter>-->
            <File>${LOG_PATH}/${APP_NAME}-biz.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${LOG_PATH}/${APP_NAME}-biz.log.%d{yyyy.MM.dd.HH}</FileNamePattern>
                <maxHistory>48</maxHistory>
            </rollingPolicy>
            <encoder>
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
            </encoder>
        </appender>
        <appender name="invoke" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${LOG_PATH}/${APP_NAME}-invoke.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${LOG_PATH}/${APP_NAME}-invoke.log.%d{yyyy.MM.dd.HH}</FileNamePattern>
                <maxHistory>48</maxHistory>
            </rollingPolicy>
            <encoder>
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
            </encoder>
        </appender>
        <appender name="sql" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH}/sql.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${LOG_PATH}/sql.log.%d{yyyy.MM.dd.HH}</FileNamePattern>
                <maxHistory>240</maxHistory>
            </rollingPolicy>
            <encoder>
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
            </encoder>
        </appender>
        <logger name="com.yangkw.pin.infrastructure.repository" additivity="false" level="INFO">
            <appender-ref ref="sql"/>
        </logger>
    </springProfile>

    <appender name="slow-sql" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/${APP_NAME}-slowsql.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/${APP_NAME}-slowsql.log.%d{yyyy.MM.dd.HH}</FileNamePattern>
            <maxHistory>48</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>${FILE_LOG_PATTERN}</Pattern>
            <!--<ImmediateFlush>false</ImmediateFlush>-->
            <ImmediateFlush>true</ImmediateFlush>
        </encoder>
    </appender>

    <appender name="error-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_PATH}/${APP_NAME}-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-error.log.%d{yyyy-MM-dd.HH}</fileNamePattern>
            <maxHistory>48</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <!--<ImmediateFlush>false</ImmediateFlush>-->
            <ImmediateFlush>true</ImmediateFlush>
        </encoder>
    </appender>

    <logger name="com.yangkw.api.*" additivity="false" level="INFO">
        <appender-ref ref="invoke"/>
    </logger>

    <logger name="com.alibaba.druid.filter.stat.StatFilter" additivity="true" level="INFO">
        <appender-ref ref="slow-sql"/>
    </logger>

    <springProfile name="debug">
        <logger name="com.yangkw" level="DEBUG"/>
    </springProfile>
    <!--<springProfile name="debug">-->
        <!--<logger name="org.mybatis" level="DEBUG"/>-->
    <!--</springProfile>-->

    <root level="INFO">
        <springProfile name="debug">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <appender-ref ref="error-log"/>
        <appender-ref ref="biz"/>
    </root>
</configuration>
